<!-- POP UP work together-->
<div class="popup-form-work-together">
  <h3 class="title-popup-form-work-together">
    Thank you for your interest in cooperation!
  </h3>
  <p class="text-popup-form-work-together">
    The manager will contact you shortly to discuss further details and
    opportunities for cooperation. Please stay in touch.
  </p>
  <button type="button" class="close-btn-work-together">
    <svg class="icon-popup-work-together" height="24" width="24">
      <use href="/img/icon.svg#icon-close"></use>
    </svg>
  </button>
</div>
